{% extends "master.html" %}

{% block head %}
    <title>Add Weather Data</title>
{% endblock head %}

{% block body %}
    <a class="btn btn-warning float-right" href="{{ url_for('logout') }}" role="button">Log Out</a>
    <h2 class="mb-3">Kings of Wessex Café Ordering System</h2>
    <h4 class="my-3">Add Weather Data</h4>
    <p class="my-3">The date today is {{ date.strftime("%A %d %B %Y") }}</p>

    {% if alert %} <!-- If the user did not input the correct details last time -->
        <div class="alert alert-danger">
            {{ alert }} <!--Displays the alert that was passed in-->
        </div>
    {% endif %}

    
    <p class="my-3">The next day which has no weather data is {{ dateclass.fromtimestamp(weatherTS).strftime("%A %d %B %Y") }}</p>
    <p class="my-3">Please enter weather data for this date</p>

    <form action="" method="POST">
        <input type="hidden" name="date" value="{{ weatherTS }}"/>
        <div>
            <label for="temp">Temperature</label>
            <input type="number" min="-273" name="temp" value=""/>
            <label for="temp">°C</label>
        </div>
        <div class="my-3">
            <input type="submit" class="btn btn-primary" name="submit" value="Confirm"/>
            <a class="btn btn-danger" href="{{ url_for('managerHome') }}" role="button">Cancel</a>
        </div>
    </form>
{% endblock body %}