{% extends "master.html" %}

{% block head %}
    <title>Create Order</title>
{% endblock head %}

{% block body %}
    {% set priceDiff = currOrderData["price"] - optionData["price"] %}
    <a class="btn btn-warning float-right" href="{{ url_for('logout') }}" role="button">Log Out</a>
    <h2 class="mb-2">Kings of Wessex Café Ordering System</h2>
    <h4 class="my-2">Please confirm your decision.</h4>
    <p class="my-2">You have chosen to replace {{ currOrderData["name"] }} with {{ optionData["name"] }} on {{ dateclass.fromtimestamp(date).strftime("%A %d %B %Y") }}.</p>
    <p class="my-2">Your account will be {% if priceDiff > 0 %}refunded £{{ priceDiff }}{% else %}charged £{{ -priceDiff }}{% endif %}.</p>
    <p class="my-2">Your current balance is £{{ balance }}.</p>

    {% if alert %} <!-- If the user did not input the correct details last time they tried to log in -->
        <div class="alert alert-danger">
            {{ alert }} <!-- the alert that was passed in-->
        </div>
    {% endif %}

    <form method="POST" action="" class="d-inline-block">
        <input type="hidden" name="orderConfirm" value=true/>
        <input type="hidden" name="studentBalance" value="{{ balance }}"/>
        <input type="hidden" name="dateFor" value="{{ date }}"/>
        <input type="hidden" name="currOrderID" value="{{ currOrderData['orderID'] }}"/>
        <input type="hidden" name="optionID" value="{{ optionData['optionID'] }}"/>
        <input type="hidden" name="priceDiff" value="{{ priceDiff }}"/>

        <input type="submit" class="btn btn-primary d-inline-block" name="delete" value="Confirm"/>
        <a class="btn btn-danger" href="{{ url_for('customerHome') }}" role="button">Cancel</a>
    </form>

{% endblock body %}